@import 'yeticss'

::selection
	background-color #ff99e7
	color #fff
	text-shadow none
::-moz-selection
	background-color #ff99e7
	color #fff
	text-shadow none

.octicon:hover
	cursor pointer

header
	position relative
	padding-top 5em

	h1
		font-size 2.7em

	.octicon-octoface
		width 32px
		text-align center

.label
	height 4em

	.label-color
		width 24px
		height 24px
		border 1px solid grey
		border-radius 20px
		display inline-block

	> span
		margin-left 10px
		margin-right 10px

