header {
  padding-top: 7em;
}
header h1 {
  font-size: 2.3rem;
}
.label {
  height: 4em;
}
.label .label-color {
  width: 24px;
  height: 24px;
  border: 1px solid #808080;
  border-radius: 20px;
  display: inline-block;
}
.label > span {
  margin-left: 10px;
  margin-right: 10px;
}
